<title>AgendaMM</title>

<div class="projeto">
<div class="banner">
<img id="logo" src='../../../assets/Logo.png'>
</div>

<div class="principal">
  <h1> Cadastre-se </h1>
</div>

<div class="form-full">
<form [formGroup]="formPessoas" (ngSubmit)="onSubmit()">


  <div class="form-group">
    <label for="nomesobrenome">Nome</label><br>
    <input type="text" class="form-control" name="name" id="nomesobrenome" formControlName="nome">
  </div>

  <div class="form-group">
    <label for="email">E-mail</label><br>
    <input type="text" class="form-control" name="email" id="email" formControlName="email">
  </div>

  <div class="form-group">
    <label for="telefone">Telefone</label><br>
    <input type="text" class="form-control" name="name" id="telefone" formControlName="telefone">
  </div>

  <div id="botao">
    <input type="submit" class="botaoenviar" value="Cadastrar">
  </div>

</form>
</div>
</div>
