<form [formGroup]="formPessoas" (ngSubmit)="onSubmit()">


  <div class="form-group">
    <label for="nomesobrenome">Nome e Sobrenome</label>
    <input type="text" class="form-control" name="name" id="nomesobrenome" formControlName="nome">
  </div>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" class="form-control" name="email" id="email" formControlName="email">
  </div>

  <div class="form-group">
    <label for="telefone">Telefone</label>
    <input type="text" class="form-control" name="name" id="telefone" formControlName="telefone">
  </div>

  <input type="submit" class="button" value="Cadastrar">

</form>
